@import url("https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #121417;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.box {
  font-family: 'Overpass', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(circle 450px at top, #252d37, #121417);
  border-radius: 25px;
  padding: 1.75em;
  margin: 0.5em;
  max-width: 380px;
}
h1 {
  font-size: 26px;
  margin-bottom: 0;
}
p {
  font-size: 15px;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  color: #959eac;
}
input {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
input[type="submit"] {
  background-color: #fb7413;
  padding: 1em 1em 1em 1em;
  border-radius: 20px;
  color: #fff;
  letter-spacing: 0.2em;
}
input[type="submit"]:hover {
  background-color: #fff;
  color: #fb7413;
}
@media screen and (max-width: 403px) {
  .box {
    border-radius: 15px;
    padding: 1.5em;
  }
}
.border-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #252d37;
  border-radius: 50%;
  width: 2.75em;
  height: 2.75em;
  margin-bottom: 1em;
}
@media screen and (max-width: 403px) {
  .border-star {
    margin-bottom: 0;
  }
}
.rating-value {
  font-size: 15px;
  padding-top: 0.25em;
  color: #959eac;
  height: 3em;
  width: 3em;
  background-color: #252d37;
  border-radius: 50%;
}
.rating-value:focus {
  background-color: #959eac;
  color: #fff;
}
.rating-value:hover {
  background-color: #fb7413;
  color: #fff;
}
.ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5em;
}
#thank-you-page {
  display: none;
  padding: 2.5em;
  max-width: 420px;
}
@media screen and (max-width: 403px) {
  #thank-you-page {
    padding: 1.5em;
  }
}
.thank-you {
  align-items: center;
  text-align: center;
}
.thank-you img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}
@media screen and (max-width: 403px) {
  .thank-you img {
    margin-top: 1em;
  }
}
.rating-selected-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #252d37;
  border-radius: 25px;
  height: 30px;
  width: 185px;
  margin-bottom: 1.25em;
}
.rating-selected-text p {
  color: #fb7413;
  padding-top: 0.75em;
}
@media screen and (max-width: 403px) {
  .rating-selected-text {
    margin-bottom: 0.75em;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
