@import url("https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #121417;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
form {
  font-family: 'Overpass', sans-serif;
}
form h1 {
  font-size: 26px;
  margin-bottom: 0;
}
form p {
  font-size: 15px;
  margin-bottom: 1.5em;
  color: #959eac;
}
form input {
  font-family: inherit;
  border: none;
}
form input[type="submit"] {
  background-color: #fb7413;
  padding: 1em 1em 1em 1em;
  border-radius: 20px;
  color: #fff;
  letter-spacing: 0.2em;
}
.rating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, #121417, #252d37);
  border-radius: 15px;
  padding: 1.5em;
  margin: 0.5em;
}
#rating-1 {
  font-size: 14px;
  padding-top: 0.25em;
  color: #959eac;
  height: 3em;
  width: 3em;
  background-color: #252d37;
  border-radius: 50%;
}
#rating-2 {
  font-size: 14px;
  padding-top: 0.25em;
  color: #959eac;
  height: 3em;
  width: 3em;
  background-color: #252d37;
  border-radius: 50%;
}
#rating-3 {
  font-size: 14px;
  padding-top: 0.25em;
  color: #959eac;
  height: 3em;
  width: 3em;
  background-color: #252d37;
  border-radius: 50%;
}
#rating-4 {
  font-size: 14px;
  padding-top: 0.25em;
  color: #959eac;
  height: 3em;
  width: 3em;
  background-color: #252d37;
  border-radius: 50%;
}
#rating-5 {
  font-size: 14px;
  padding-top: 0.25em;
  color: #959eac;
  height: 3em;
  width: 3em;
  background-color: #252d37;
  border-radius: 50%;
}
.ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
