@import url('https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap');

very-dark-blue = hsl(216, 12%, 8%)
dark-blue = hsl(213, 19%, 18%)
medium-grey = hsl(216, 12%, 54%)
light-grey = hsl(217, 12%, 63%)
orange = hsl(25, 97%, 53%)

flex-display(args)
  display flex
  flex-direction args

full-viewport-center()
  flex-display column
  min-height 100vh
  align-items center
  justify-content center

flex-center(args)
  flex-display args
  align-items center
  justify-content center

*
  box-sizing border-box

body
  background-color very-dark-blue
  color white
  full-viewport-center()

.box
  font-family 'Overpass', sans-serif
  flex-display column
  justify-content center
  background radial-gradient(circle 450px at top, dark-blue, very-dark-blue)
  border-radius 25px
  padding 1.75em
  margin 0.5em
  max-width 380px

h1
  font-size 26px
  margin-bottom 0

p
  font-size 15px
  margin-bottom 1.5em
  line-height: 1.5em
  color light-grey

input
  font-family inherit
  border none
  cursor: pointer

input[type="submit"]
  background-color orange
  padding 1em 1em 1em 1em
  border-radius 20px
  color white
  letter-spacing 0.2em

input[type="submit"]:hover
  background-color white
  color: orange

@media screen and (max-width: 403px)
  .box
    border-radius 15px
    padding 1.5em

.border-star
  flex-center row
  background-color dark-blue
  border-radius 50%
  width 2.75em
  height 2.75em
  margin-bottom 1em

@media screen and (max-width: 403px)
  .border-star
    margin-bottom 0

.rating-value
  font-size 15px
  padding-top 0.25em
  color hsl(217, 12%, 63%)
  height 3em
  width 3em
  background-color dark-blue
  border-radius 50%

.rating-value:focus
  background-color: light-grey
  color: white

.rating-value:hover
  background-color: orange
  color: white

.ratings
  flex-display row
  justify-content space-between
  align-items center
  padding-bottom 1.5em

#thank-you-page
  display none
  padding 2.5em
  max-width 420px

@media screen and (max-width: 403px)
  #thank-you-page
    padding 1.5em

.thank-you
  align-items center
  text-align: center

  img
    max-width 100%
    height auto
    margin-bottom: 2em

  @media screen and (max-width: 403px)
    img
      margin-top: 1em


.rating-selected-text
  flex-center row
  background-color dark-blue
  border-radius 25px
  height: 30px
  width: 185px
  margin-bottom 1.25em
  p
    color orange
    padding-top: 0.75em

@media screen and (max-width: 403px)
  .rating-selected-text
    margin-bottom: 0.75em

.attribution
  font-size 11px
  text-align center

  a
    color hsl(228, 45%, 44%)