flex-display(args)
  display flex
  flex-direction args

full-viewport-center()
  flex-display column
  min-height 100vh
  align-items center
  justify-content center

flex-center(args)
  flex-display args
  align-items center
  justify-content center