@import 'functions'
@import 'variables'

*
  box-sizing border-box

body
  background-color very-dark-blue
  color white
  full-viewport-center()

h1
  font-size 26px
  margin-bottom 0

p
  font-size 15px
  margin-bottom 1.5em
  line-height: 1.5em
  color light-grey

input
  font-family inherit
  border none
  cursor: pointer

input[type="submit"]
  background-color orange
  padding 1em 1em 1em 1em
  border-radius 20px
  color white
  letter-spacing 0.2em

input[type="submit"]:hover
  background-color white
  color: orange