@media screen and (max-width: 403px)
  .box
    border-radius 15px
    padding 1.5em

@media screen and (max-width: 403px)
  .border-star
    margin-bottom 0

@media screen and (max-width: 403px)
  #thank-you-page
    padding 1.5em

@media screen and (max-width: 403px)
  .thank-you img
    margin-top: 1em

@media screen and (max-width: 403px)
  .rating-selected-text
    margin-bottom: 0.75em